<div ng-controller="GamedaysCtrl">

{{getTeamNameById()}}
	<div ng-repeat="gameday in gamedays | filter:paginate">
		<p>Spieltag: {{gameday.id}}</p>
		<table class="table">
			<thead>
				<tr>
					<th>Nr.</th>
					<th>Gastgeber</th>
					<th>S</th>
					<th>U</th>
					<th>N</th>
					<th>Gäste</th>
				</tr>
			</thead>
			<tr ng-repeat="game in gameday.games">
				<td>{{game.id}}</td>
				<td>{{game.home}}</td>
				<td>{{game.quote_1}}</td>
				<td>{{game.quote_0}}</td>
				<td>{{game.quote_2}}</td>
				<td>{{game.guest}}</td>
			</tr>
		</table>
	</div>
	<pagination total-items="totalItems" ng-model="currentPage"
		max-size="5" boundary-links="true" items-per-page="numPerPage"
		class="pagination-sm"> </pagination>
</div>