<div ng-controller="TippsCtrl">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Gastgeber.</th>
        <th>Quoten</th>
        <th>Ergebnis</th>
        <th>Gäste</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matches  | filter:paginate track by $index">

        <td><span> <img src="{{match.homeLogoUrl}}" alt="">{{match.teamNameHome}}
        </span></td>

        <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary"> <input type="radio"
              name="radioGroup value={{match.quoteHomeWin}}">{{match.quoteHomeWin}}
            </label> <label class="btn btn-primary"> <input type="radio"
              name="radioGroup" value={{match.quoteDraw}}>{{match.quoteDraw}}
            </label> <label class="btn btn-primary"> <input type="radio"
              name="radioGroup" value={{match.quoteGuestWin}}>{{match.quoteGuestWin}}
            </label>
          </div>
        </td>

        <td>
          <div>{{match.goalsHome}}:{{match.goalsGuest}}</div>
        </td>

        <td><span> <img src="{{match.guestLogoUrl}}" alt="">{{match.teamNameGuest}}
        </span></td>

      </tr>

    </tbody>
  </table>
  <div uib-pagination total-items="totalItems" ng-model="currentPage"
    max-size="34" boundary-links="true" items-per-page="numPerPage"
    class="pagination-sm" />
  <input type="button" value="save" ng-click="saveTipps()" />
</div>


